/*
  Author:  rsiddharth 
  Contact: <rsiddharth@ninthfloor.org>
  License: Public Domain <http://creativecommons.org/publicdomain/zero/1.0/>
  
*/

body {
	font-size: 1.00em;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,"URW Palladio L",FreeSerif,serif;
    color:#686868;
    margin-left:auto;
    margin-right:auto;
    width:100%;
	max-width: 720px;
}

h1, h2, h3, h4, h5, h6 {
	border:1px;
    padding:5px;
    text-align:center;
}

h1 {
	font-size:1.80em;
}

h2 {
	font-size:1.75em;
}

h3 {
	font-size:1.70em;
}

h4 {
	font-size:1.65em;
}

h5 {
	font-size:1.60em;
}

h6 {
	font-size: 1.55em;
}

p, em, strong {
    padding:5px;
    text-align:justify;
    line-height:170%;
    -moz-word-wrap:break-word;
}

p, em, strong, blockquote, pre, ul{
   margin-left:auto;
   margin-right:auto;
   width:70%;
}

.center {
    text-align:center;
}

blockquote {
    font-size:0.90em;
    text-align:justify;	
    background-color:#fcfcfc;
}

span.monospace {
    border: 1px;
    padding: 1px;
    font-size:0.80em;
    font-family:monospace;
	background-color: #fcfcfc;
	border: 1px solid #f0f0f0;
	padding: 2px;
}

pre {
	background-color:#fcfcfc;
	border: 1px solid #f0f0f0;
	display:block;
	font-family:monospace;
	font-size:0.80em;
	word-break:break-all;
	word-wrap:break-word;
	white-space:pre-wrap;
	margin-top:5px;
	margin-bottom:5px;
    padding:5px;

}

ul {
    border: 1px;
    padding:5px;
    line-height:170%;
    list-style: square;
    list-style-position: inside;
}


div.time {
	font-size:0.70em;
	color:#aaaaaa;
    border:1px;
    padding:5px;
    text-align:center;
}

img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: 1px;
    padding: 10px;
}

audio {
	margin-left:auto;
    margin-right:auto;
    display:block;
	border: 1px;
    padding: 10px;
}

a {
	text-decoration: none;
	padding: 2px 0 1px;
	border-bottom: 1px solid #d5d5d5;
}

a:link {
	color:#686868;
}

a:visited {
	color: #787878;
}

a:hover {
	background-color: #f5f5f5;
	border-bottom: 0;
}

div.back {
    font-size:0.8em;
    text-align:center;
    color:#989898;
    border:1px; 
    padding:5px;
}

footer {
    font-size:0.90em;
    text-align:center;
    color:#888888;
	margin-top: 1.2em;
    border:1px; 
    padding:5px;
}

div.lastupdate {
	font-size:0.7em;
    text-align:center;
    color:#989898;
	margin-top: 1.2em;
/*	border-top: 1px solid #dadada;*/
    padding:5px;
}

div.source {
	font-size:0.7em;
	font-family:monospace;
    text-align:center;
	margin-top: 0.5em;
    border:1px; 
    padding:5px;
}


div.scruf {
    font-size:0.8em;
    text-align:center;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	opacity: 0.5;
    color:#bcbcbc;
    border:1px; 
    padding:5px;

}

div.scruf:hover {
	opacity: 1.0;
}