/*
  Author:  rsiddharth 
  Contact: <rsiddharth@ninthfloor.org>
  License: Public Domain <http://creativecommons.org/publicdomain/zero/1.0/>
  
*/

body {
	font-size: 1.00em;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,"URW Palladio L",FreeSerif,serif;
    color:#686868;
    margin-left:auto;
    margin-right:auto;
    width: 97%;
	max-width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    text-align:center;
}

h1 {
	font-size:1.80em;
}

h2 {
	font-size:1.75em;
}

h3 {
	font-size:1.70em;
}

h4 {
	font-size:1.65em;
}

h5 {
	font-size:1.60em;
}

h6 {
	font-size: 1.55em;
}

p, em, strong, ul {
    text-align:justify;
    line-height: 1.7em;
    -moz-word-wrap:break-word;
}

p, em, strong, blockquote, pre, ul{
   margin-left:auto;
   margin-right:auto;
   width: 95%;
}

.center {
    text-align:center;
}

blockquote {
    padding-left: 0.50em;
    font-size:0.90em;
    text-align:justify;	
    background-color:#fcfcfc;
    border-left: 0.40em solid #bababa;
}

span.monospace {
    border: 1px;
    padding: 1px;
    font-size:1.0em;
    font-family:monospace;
	background-color: #fcfcfc;
	border: 1px solid #f0f0f0;
	padding: 0.125em;
}

pre {
	background-color:#fcfcfc;
	border: 1px solid #f0f0f0;
	display:block;
	font-family:monospace;
	font-size: 1.0em;
	word-break:break-all;
	word-wrap:break-word;
	white-space:pre-wrap;
	margin-top:5px;
	margin-bottom:5px;
    padding:5px;
}

sup {
	font-size: 0.6em;
}

ul {
    list-style: square;
    list-style-position: inside;
}


.time {
	margin: 2em 0 2em;
	font-size:0.70em;
	color:#aaaaaa;
    text-align:center;
}

img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width: 100%;
}

audio {
	margin-left:auto;
    margin-right:auto;
    display:block;
}

a {
	text-decoration: none;
	padding: 2px 0 1px;
	border-bottom: 1px solid #d5d5d5;
}

a:link {
	color:#686868;
}

a:visited {
	color: #787878;
}

a:hover {
	background-color: #f5f5f5;
	border-bottom: 0;
}

.button {
	margin: 1em 0.2em 0.2em;
	padding: 0.235em 1em 0.235em;
	display: inline-block;
	background-color: #f5f5f5;
	border: 1px solid #efefef;
	cursor: pointer;
}

@media (min-width:320px) and (max-width:360px) {
	.button {
		display: block;
		width: 80%;
		margin: 0.5em auto 0.4em;
	}
}

.button {
	border:0;
}

.button:hover {
	background-color:#f7f7f7;
}

.perma-link {
	margin-left: 0.35em;
}

.perma-link a:link {
	border-bottom: 0;
}

.back {
    font-size:0.9em;
    text-align:center;
    color:#989898;
    margin-top: 0.3em;
}

footer {
    font-size:0.90em;
    text-align:center;
    color:#888888;
	margin: 1.2em 0 1.2em;
}

.lastupdate {
    font-size:0.6em;
    text-align:center;
    color:#989898;
	margin-top: 1.2em;
}

.source {
	font-size:0.7em;
	font-family:monospace;
    text-align:center;
    margin-top: 0.8em;
}


.scruf {
    font-size:0.8em;
    text-align:center;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	opacity: 0.5;
    color:#bcbcbc;
    margin-top: 0.7em;
}

.scruf:hover {
	opacity: 1.0;
}